@import url(https://fonts.googleapis.com/css?family=Dosis&display=swap);

 html,body{height:100%;}
.bloco{min-height:100%;} 

body {
  background-color: white;
  margin-top: 10px;
  
}


@media (max-width: 1200px) {
  .bloco {
    width: 100%;
    height: 100%;
  }
}


@media (min-width: 360px) {
  .bloco {
    width: 100%;
    height: 100%;
  }
}



/*navbar*/
.case {
  font-family: 'Dosis', sans-serif;
  color: black;
}


.studio02 {
  font-family: 'Dosis', sans-serif;
}


.caixa01 {
  font-family: 'Dosis', sans-serif;

}



.caixa02 {
  font-family: 'Dosis', sans-serif;
  width: 600px;
}


.row .col.s6 {
  width: 50%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.row.capa {
  width: 100%;
  height: 100%;
}

/*botao abrir formulario*/
@media (max-width: 1200px) {
  .active01 {
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    position: relative;
    top: 40px;


    margin: 0 auto;

  }


  @media (min-width: 360px) {
    .active01 {
      font-family: 'Dosis', sans-serif;
      font-size: 10px;
      position: relative;
      top: 40px;
    }
  }

  .section:not(.section-post) {
    padding: 80px 0;
  }





  @media (min-width:360px) and (max-width:1200px) {
    .base {
      font-family: 'Dosis', sans-serif;
    }

  }


  .sidenav {
    background-color: white;
    opacity: 0.3;

  }

  /*rodape*/
  .base {
    /*diminuindo espaço entre as imagens*/
    margin-top: -20px;
  }

  /*pagina de serviços*/
  .row-tatoo {
    margin-top: -15px;
  }



}